<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>LOGIN FORM</h1>-->
<!--<br>-->
<!--<form method="post" action="">-->
<!--    {{form.hidden_tag()}}-->
<!--    <p>{{form.username.label}}</p>-->
<!--    <div>{{form.username}}</div>-->
<!--    <br>-->
<!--    <p>{{form.password.label}}</p>-->
<!--    <div>{{form.password}}</div>-->
<!--    <br>-->
<!--    <p>{{form.submit}}</p>-->

<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <h1>Login Form</h1>
    <br>

    <form method="post" action="">
        {{form.hidden_tag()}}
        <label for="username">Username:</label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" placeholder="Enter Password" name="password" required>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                {% if category == 'error' %}
                  <li class="flash flash-error">{{ message }}</li>
                {% elif category == 'warning' %}
                  <li class="flash flash-warning">{{ message }}</li>
                {% elif category == 'info' %}
                  <li class="flash flash-info">{{ message }}</li>
                {% elif category == 'success' %}
                  <li class="flash flash-success">{{ message }}</li>
                {% else %}
                  <li class="flash">{{ message }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <input type="submit" value="Login">
    </form>
</body>
</html>

