 body {
            background-color: #333333;
            color: #fff;
            font-family: Arial, sans-serif;
        }
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    max-width: 400px;
    margin: 0 auto;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
input[type=submit]:hover {
    background-color: #45a049;
}
h1 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient(135deg, #00BFFF, #1E90FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
label {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}
input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-color: #1e90ff;
}

.flash {
  background-color: red;
  color: white;
  padding: 10px;
}
}

.flash-error {
  background-color: red;
  color: black;
  padding: 10px;
}

.flash-warning {
  background-color: #ffffcc;
  border-color: #ff9933;
}

.flash-info {
  background-color: #ccffff;
  border-color: #33ccff;
}

.flash-success {
  background-color: #ccffcc;
  border-color: #33cc33;
}